<% content_for(:css_include) do %>
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
      .img-responsive {
          margin: 0 auto;
      }
    </style>
<% end %>

<div class="row main">
  <div class="main-login main-center">
    <%= image_tag('banner.png', height: '70px', class: 'img-responsive') %>    
    <form class="form-horizontal" accept-charset="UTF-8" action="/login" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Email</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="email" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="cols-sm-2 control-label">Mật khẩu</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
          </div>
        </div>
      </div>
      <div class="form-group ">
        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Đăng nhập</button>
      </div>
    </form>
  </div>
</div>