<div class="form-group">
<label for="name" class="cols-sm-2 control-label">Address</label>
<div class="cols-sm-10">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
    <input type="text" class="form-control" name="user[address]" id="address"  placeholder="Enter Address"/>
  </div>
</div>
</div>
<script>
$(document).ready(function(){
	$("#address").geocomplete({});
});
</script>
