<div class="form-group">
<label for="name" class="cols-sm-2 control-label">Admin?</label>
<div class="cols-sm-10">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
    <input type="checkbox" class="form-control" name="user[admin]" id="admin" />
  </div>
</div>
</div>