<div class="row">
  <div class="col-md-4">
<button class="btn btn-default" onClick="test()">History</button>
<button class="btn btn-default" onClick="reset()">Reset</button>
  </div>
  <div class="col-md-8">
    <form class="form-horizontal" method="get" action="<%= user_path(@user) %>">
      <input type="text" data-provide='datepicker' name="history_date" value="<%= params[:history_date].present? ? params[:history_date] : Date.current.strftime("%m/%d/%Y") %>" >
      <input type="submit" value="Choose">
    </form>
  </div>
</div>