<table class="table table-bordered">
<thead  bgcolor='#337ab7'>
  <td align="center"><font color="#fff">STT</font></td>
  <td align="center"><font color="#fff">Thời gian & Địa điểm</font></td>
</thead>
<tbody>
  <% histories.each_with_index do |history, index| %>
    <tr id="history-<%= history[:id] %>">
      <td><%= (index+1).to_s %></td>
      <td><%= history[:address] %><br/><%= history[:created_at] %></td>
    </tr>
  <% end %>
</tbody>
</table>
