<div class="form-group">
<label for="email" class="cols-sm-2 control-label">Name</label>
<div class="cols-sm-10">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
    <input type="text" class="form-control" name="user[name]" id="name"  placeholder="Enter Name"/>
  </div>
</div>
</div>