<% if admin? %>
<div class="well">
<%= render partial: "layouts/panels" %>
</div>
<div class="row">
    <div id="map"></div>    
</div>
<div class="row">
    <div id="log"></div>
</div>

<script>

var centerPos = <%= @center.to_json %>;
var positions = <%= raw @positions.to_json %>;
var users = <%= raw @users.to_json %>;
var mapState = {
    map: undefined,
    centerPos: undefined,
    numDeltas: 100,
    delay: 10, 
    markerStates: []
};  
var usersState = {
    users: []
}
$(document).ready(function() {
	initialize(mapState, "map", centerPos, positions);
	subscribeChannel("LocationsChannel", mapState, App);
    subscribeDomEvents("map", mapState);
    initUsersState(usersState, users);
    renderUsersState(usersState, "#log");
});
</script> 
<% end %>
