<div class="header clearfix" style="margin-top:5px;">
    <nav>
      <ul class="nav nav-pills pull-right">        
        <% if logged_in? %>
        	<% if admin? %>
		        <li role="presentation" class="<%= active_class('/users') %>">
		        	<%= link_to "Users", users_path %>
		        </li>
        	<% end %>
			<li role="presentation">
				<%=link_to "Log Out", logout_path %>
			</li>
		<% else %>
			<li role="presentation">
			<%= link_to "Log In", login_path %>
			</li>
		<% end %>
      </ul>
    </nav>
  </div>
