<ul class="nav nav-pills">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Quản lý nhân viên <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      
    </ul>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Quản lý nhóm <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      
    </ul>
  </li>
  <li role="presentation" class="dropdown pull-right">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Đăng nhập <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      
    </ul>
  </li>
</ul>